body {
  margin: 0;
}

a {
  color: black;
  text-decoration: none
}

h1 {
  font-size: 45px;
  text-align: center;
  margin: 0;
  padding: 100px;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  border-bottom: 1px solid gray;
  flex: 1;
}

#tetris {
  background-color: gray;
  flex: 1;
}

.title {
  background-color: red;
  flex: 3;
}

.game {
  background-color: orange;
  flex: 1;
}

.main {
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  flex-direction: row;
}

.nav ul {
  flex: auto;
  flex-direction: row;
}

.nav ol {
  flex: 6;
}

.article {
  display: flex;
  flex-direction: column;
  background-color: blue;
}

.footer {
  background-color: #FFE4C4;
  text-align: center;
}
