* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  color: black;
  text-decoration: none
}

h1 {
  font-size: 45px;
  text-align: center;
  margin: 0;
  padding: 100px;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  border-bottom: 1px solid gray;
}

#tetris {
  flex-basis: 15%;
}

.title {
  background-color: green;
  flex-grow: 1;
}

.game {
  background-color: orange;
  flex-basis: 20%;
}

.main {
  display: flex;
  flex-direction: row;
}

.nav {
  display: flex;
  flex-direction: column;
  padding-left: 80px;
  padding-right: 80px;
  border-right: 1px solid gray;
}

.article {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.footer {
  background-color: #FFE4C4;
  text-align: center;
}